#set($layout="/WEB-INF/view/default.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="generator" content="bd-mobcard">
    <meta http-equiv="Cache-Control" content="no-cache">
    <!--weui-->
    <link rel="stylesheet" href="../we/css/weui.css"/>
    <link rel="stylesheet" href="../we/example.css"/>
    <script src="../we/zepto.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <!--weui-->
    <script src="../js/vendor/jquery-1.11.2.min.js"></script>
    <script src="../js/exam/jquery.timer.js"></script>
    <script src="../js/exam/main.js"></script>

    <title>专业水平测验</title>

    <link href="../css/exam/style.css" rel="stylesheet" type="text/css">

</head>

<body oncontextmenu="return false" onselectstart="return false">


<div class="gztt" id='notice'>


</div>
    #if($question.questionType==1)
    <div class="test">
        <div class="score"><img src="../images/exam/test_bg.png" alt="" style="border:none;border-radius:0px;"/></div>
        <div class="test_con">
            <div class="item">
                <div class="tit"><strong>一、判断题（共$!examination.judgeUse题，每题$!examination.judgeScore分）</strong></div>
                <div class="tit"><span>$!question.sort.</span>$!question.content
                    #if($!answer)
                        <span class="answerSpan" style="color: red">
                            #if($answer!=$question.answerChoice)
                            <img class="failImg" src="../images/exam/wrong.jpg">
                            #else
                            <img class="successImg judgeQuestions" src="../images/exam/right.jpg">
                            #end
                            #if($question.answerChoice==1)是 #else 否#end
                        </span>
                    #end
                </div>
                <div class="item_con">
                    <ul>
                        <li questionType="1" value='1' #if($answer==1) class="on" disabled="disabled" #end>
                            <input type="radio" name="test$sort" id="" class="rad"
                                   value='1'/><span></span>是
                        </li>
                        <li questionType="1" value='0'#if($answer==0) class="on" disabled="disabled" #end>
                            <input type="radio" name="test$sort" id="" class="rad"
                                   /><span></span>否
                        </li>
                        <li style="pointer-events: none;"></li>
                        <li style="pointer-events: none;"></li>
                        <li style="pointer-events: none;"></li>
                        <li style="color: red;text-align:center;pointer-events: none;" ><span class="initTime"></span>|||<span class="restTime"></span></li>

                    </ul>
                    <div style="display: none" ><button>继续</button></div>
                    <input type="hidden" value="$question.answerChoice" questionType="1" >
                    <div style="text-align:center; ">
                    <li style="display:inline-block;" class="submit">
                        #if($question.sort!=1)
                        <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="preQuestion('$!examination.id',$!question.sort,'$!question.questionType')">上一题</a>
                        #end
                        <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="nextQuestion('$!examination.id',$!question.sort,'$!question.questionType')">#if($answer!="") 下一题#else 提交 #end</a>
                    </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #end


#if($question.questionType==2)
    <div class="test">
        <div class="score"><img src="../images/exam/test_bg.png" alt="" style="border:none;border-radius:0px;"/></div>
        <div class="test_con">
            <div class="item">
                <div class="tit"><strong>二、单选题（共$!examination.singleUse题，每题$!examination.singleScore分）</strong></div>
                <div class="tit"><span>$!question.sort.</span>$!question.content
                    #if($!answer)
                    <span class="answerSpan" style="color: red;">
                         #if($answer!=$question.answerChoice)
                             <img class="failImg" src="../images/exam/wrong.jpg">
                         #else
                             <img class="successImg judgeQuestions" src="../images/exam/right.jpg">
                         #end
                        $!question.answerChoice</span>
                    #end
                </div>
                <div class="item_con">
                    <ul>
                        #foreach($choice in $velocityUtil.sharpWord($!question.choice,"[|]"))
                            <li questionType="2" value='$velocityUtil.getChoice($choice)' class="#if($velocityUtil.getChoice($choice)==$answer) on #end">
                                <input type="radio" name="test$sort" id="" class="rad"  value='$velocityUtil.getChoice($choice)'/><span>$velocityUtil.getChoice($choice)</span>$velocityUtil.getChoiceContent($choice)
                            </li>
                        #end
                        <li style="pointer-events: none;"></li>
                        <li style="pointer-events: none;"></li>
                        <li style="pointer-events: none;"></li>
                        <li style="color: red;text-align:center;pointer-events: none;" ><span class="initTime"></span>|||<span class="restTime"></span></li>
                    </ul>
                    <div style="text-align:center; ">
                        <li style="display:inline-block;" class="submit">
                            #if($question.sort!=1)
                                <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="preQuestion('$!examination.id',$!question.sort,'$!question.questionType')">上一题</a>
                            #end
                            <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="nextQuestion('$!examination.id',$!question.sort,'$!question.questionType')">#if($answer!="") 下一题#else 提交 #end</a>
                        </li>

                    </div>
                    <input type="hidden"  value="$question.answerChoice" questionType="2">
                </div>
            </div>
        </div>
    </div>
    #end
#if($question.questionType==3)
    <div class="test">
        <div class="score"><img src="../images/exam/test_bg.png" alt="" style="border:none;border-radius:0px;"/></div>
        <div class="test_con">
            <div class="item">
                <div class="tit"><strong>三、多选题（共$!examination.multUse题，每题$!examination.multScore分）</strong></div>
                <div class="tit"><span>$!question.sort.</span>$!question.content
                    #if($!answer)
                        <span class="answerSpan" style="color: red;">
                         #if($answer!=$question.answerChoice)
                             <img class="failImg" src="../images/exam/wrong.jpg">
                         #else
                             <img class="successImg judgeQuestions" src="../images/exam/right.jpg">
                         #end
                            $!question.answerChoice</span>
                    #end
                </div>
                <div class="item_con">
                    <ul>
                        #foreach($choice in $velocityUtil.sharpWord($!question.choice,"[|]"))
                            <label  questionType="3" value='$velocityUtil.getChoice($choice)' for="$velocityUtil.getChoice($choice)" >
                                <input type="checkbox" name="test$sort" id="" class="rad" value='$velocityUtil.getChoice($choice)' #if($answer.contains($velocityUtil.getChoice($choice))) checked #end /><span>$velocityUtil.getChoice($choice)</span>$velocityUtil.getChoiceContent($choice)
                            </label >

                        #end
                        <li style="pointer-events: none;"></li>
                        <li style="pointer-events: none;"></li>
                        <li style="pointer-events: none;"></li>
                        <li style="color: red;text-align:center;pointer-events: none;" ><span class="initTime"></span>|||<span class="restTime"></span></li>
                    </ul>
                    <div style="text-align:center; ">
                        <li style="display:inline-block;" class="submit">
                            #if($question.sort!=1)
                                <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="preQuestion('$!examination.id',$!question.sort,'$!question.questionType')">上一题</a>
                            #end
                            <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="nextQuestion('$!examination.id',$!question.sort,'$!question.questionType')">#if($answer!="") 下一题#else 提交 #end</a>
                        </li>
                    </div>
                    <input type="hidden" value="$question.answerChoice" questionType="3" >

                </div>
            </div>
        </div>
    </div>
    #end
#if($question.questionType==4)
    <div class="test">
        <div class="score"><img src="../images/exam/test_bg.png" alt="" style="border:none;border-radius:0px;"/></div>
        <div class="test_con">
            <div class="item">
                <div class="tit"><strong>三、简答题（共$!examination.saqUse题，每题$!examination.saqScore分）</strong></div>
                <div class="tit"><span><span>$!question.sort.</span>$!question.content</div>
                <div class="item_con">
                    <textarea style="width: 100%;height: 100px"></textarea>
                    <li style="pointer-events: none;"></li>
                    <li style="pointer-events: none;"></li>
                    <li style="pointer-events: none;"></li>
                    <li style="color: red;text-align:center;pointer-events: none;" ><span class="initTime"></span>|||<span class="restTime"></span></li>
                    <p style="width: 100%;height: 100px;color: red;" class="SAQAnswer">标准答案:$!question.answerContent</p>
                    <div style="text-align:center; ">
                        <li style="display:inline-block;" class="submit">
                            #if($question.sort!=1)
                                <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="preQuestion('$!examination.id',$!question.sort,'$!question.questionType')">上一题</a>
                            #end
                            <a href="javascript:;" style="" class="weui-btn weui-btn_mini weui-btn_primary" onclick="nextQuestion('$!examination.id',$!question.sort,'$!question.questionType')">#if($answer!="") 下一题#else 提交 #end</a>
                        </li>
                    </div>

                    <input type="hidden" value="$question.answerChoice" questionType="4">
                </div>
            </div>
        </div>
    </div>
#end

<input type="hidden" id="totalTime" value="$examination.examTime"/>

<input type="hidden" id="remainTime" value="#if($remainTime) $remainTime #else $examination.examTime#end"/>


<input type="hidden" id="examinationId" value="$examination.id"/>

<!--<div class="guanzhu">
  
    <img src="../images/exam/ico_tc_bg.png" alt="关注"/>
    </div>-->

<div class="guanzhu1" id="guanzhu">	<div class="jt"><img src="../images/exam/jiantou.png" alt=""/></div>	 <p id="gz_p"> 关注书法科技,免费学习书法课程</p>
    <div class="guanzhu_but"><a href="https://mp.weixin.qq.com/s?__biz=MzU4OTI4ODU3Mg==&mid=2247483658&idx=1&sn=f503e9bd07d60438d9193bd1c7718de2">关注微信：书法科技</a></div>
</div>
<input type="hidden" name='sumScore' id='sumScore' value="0">
<input type="hidden" name='timeUp' id='timeUp' value="0">

</body>
</html>
<script>


    function getjudgeAnswer(select){
        $('li').each(function (index,element){
            if($(element).hasClass('on')){
                select+=$(element).val();
            }
        });
        return select;
    }

    function getsingleAnswer(select){
        $('li').each(function (index,element){
            if($(element).hasClass('on')){
                select+=$(element).attr('value');
            }
        });
        return select;
    }


    /**
     * 确认多选答案
     * */
    function getmultAnswer(select){
        $('li').each(function (index, element){
            var input=$(element).children('input')[0];
            if($(input).is(":checked")){
                select=select+","+$(input).val();
            }
        });
        return select;
    }


    function preQuestion(examId,sort,type){
        sort=sort-1;
        window.location.href='?id='+examId+'&questionSort='+sort+'&questionType='+type;
    }
</script>
<script>
    $(function(){
    if('$!answer'!=''){
        return;
    }
    $(".submit").click(function() {
    checkAnswer2(this)
    });
    $(".submit2").click(function() {
    checkAnswer3(this)
    });
    $('li').click(function(){
    if($(this).attr('questionType')==3){
    changeState($(this).find('input')[0]);
    return;
    }
    checkAnswer(this,$(this).attr('questionType'))
    });



    function WeiXinShareBtn() {
    if (typeof WeixinJSBridge == "undefined") {
    alert("请先通过微信搜索线话英语并添加为好友，通过微信分享文章 :) ");
    } else {
    WeixinJSBridge.invoke('shareTimeline', {
    "title": "英语测试",
    "link": "http://wx.linewow.com/ceshi/index.html",
    "desc": "关注互联网创业",
    "img_url": "http://wx.linewow.com/ceshi/img/topimg.jpg"
    });
    }
    }
    $('.share').click(function(){
    //                WeiXinShareBtn();

    $('.share_b').css('display','block');
    location.href = "#title";
    });

    $('.share_b').click(function(){
    $(this).css('display','none');
    });
    $('#close').click(function(){
    $('.guanzhu1').css('display','none');
    });

    })
</script>
<script>



    var maxScore='$!examination.judgeUse';
    var judgeScore='$!examination.judgeScore';
    var multScore='$!examination.multScore';
    var singleScore='$!examination.singleScore';
    var saqScore='$!examination.saqScore';
    var judgeRight=0;
    var judgeWrong=0;
    var singleRight=0;
    var singleWrong=0;
    var multRight=0;
    var multWrong=0;
    var saqRight=0;
    var saqWrong=0;
    /**
     * 多选框切换
     * @param checkbox
     */
    function changeState(checkbox){
        if(!$(checkbox).is(":checked")){
            $(checkbox).prop("checked",true);
        }else{
            $(checkbox).prop("checked",false);
        }
    }
    /**
     * 处理判断及单选题答案
     */
    function checkAnswer(li,type){
        $(li).attr("disabled",true);
        if(!$(li).hasClass('submit')){
        $(li).addClass('on');
        $(li).siblings().removeClass('on')
        }
    }

    /**
     * 确认多选答案
     * */
    function checkAnswer3(submit){
        finnalExam(submit)
    }
    /**
     * 展示错误信息
     * @param title
     */
    function showErrorMsg(title){
        var anwserSpan=$(title).children('.answerSpan')[0];
        var successImg=$(anwserSpan).children('.successImg')[0];
        var failImg=$(anwserSpan).children('.failImg')[0];
        $(anwserSpan).show();
        $(successImg).hide();
        $(failImg).show();
    }

    /**
     * 展示错误信息
     * @param title
     */
    function showRightMsg(title){
        var anwserSpan=$(title).children('.answerSpan')[0];
        var failImg=$(anwserSpan).children('.failImg')[0];
        var successImg=$(anwserSpan).children('.successImg')[0];
        $(anwserSpan).show();
        $(failImg).hide();
        $(successImg).show();


    }

    function finnalExam(temp,title){
        if( $(temp).parents('div').next('div').hasClass('end')){
            showResultPage();
        }else{
            showRightMsg(title);
            sleep(temp,title)
        }
    }

    function showResultPage(){
        var judge=(judgeRight-judgeWrong)*judgeScore;
        var mult=(multRight-multWrong)*multScore;
        var single=(saqRight-singleWrong)*singleScore;
        var score=judge+mult+single;
        $('.test').hide()
        $('#level1').css('display','block');
        document.title="我在职业资格模拟测试中得到了"+score+"分，你能超过我吗?";
        $('.guanzhu1').css('display','block');
    }

    function statisScore(){
//        var singleSuccessCount=$('.successImg.judgeQuestions');
//        console.log(singleSuccessCount.size())
    }
</script>
